
@include('partials.base_layout')

<div class="container">
  <strong class="title">Password recover</strong>
  
  <p>
    Hello {{name}}! You've requested a password recover for the TGL app?
    <br>
    <br>
    If <strong>yes</strong>, then you have to click in this link here: <a href={{link}}>Password recover</a>
    <br>
    <br>
    If <strong>no</strong>, I would suggest that you change your password right now!
  </p>
</div>