@include('partials.base_layout')

<div class="container">
  <h3 class="title">New purchase in TGL!</h3>
  
  <p>Hello {{name}}! <br><br> Look at your account you have a new purchase with the price of R$ {{price}}. <br><br> <strong> This price includes all bets that you've paid.</strong></p>
</div>
