@include('partials.base_layout')
<div class="container">
  <strong class="title">Welcome {{name}}, we are happy to have you here!</strong>
  
  <p>
    <strong>Congratulations!</strong> You have just created your account in the TGL, The Greates App For Bets!!
    <br>
    <br>
    Now you can create some bets! Let's go!!
  </p>
</div>
